* {
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 16px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

header {
    width: 100%;
    height: 900px;
    background: linear-gradient(45deg, rgb(127, 255, 122) 48%, rgb(71, 175, 170));
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 110px;
}

.logo {
    font-weight: 900;
    font-size: 28px;
}

.logo span {
    color: rgb(217, 255, 45);
}

.header__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__item {
    display: inline-block;
    margin-right: 30px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    color: #000;
    text-decoration: none;
}

.header__content{
display: flex;
justify-content: space-between;
}

.header_photo img {
    width: 670px;
    height: 600;
}

.btn {
    display: inline-block;
    height: 65px;
    /* padding: 10px 20px 10px 20px; */
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 16px;
    padding-bottom: 20px;
    border-radius: 60px;
    background: rgb(63,251,138);
    background: radial-gradient(circle, rgb(223, 255, 78) 0%, rgba(254,255,0,1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.header_title{
padding: 0;
margin: 0;
font-size: 48px;
font-weight: 800;
margin-bottom: 48px;
}

.header_text{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.;
    margin-bottom: 35px;
}
.footer {
    background-color: #232323;
    color: #ffffff;
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    padding: 0;
}

.footer p span{
    color: gold;
}
